<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site-Fisio Lazer</title>
</head>
<body>
    <header><div class="hero" id="hero">
        <div class="logo" id="logo"></div>
        <nav>
            <ul>
                <li><a href="">Sobre</a></li>
                <li><a href="">Eventos</a></li>
                <li><a href="">Programas</a></li>
                <li><a href="">Comunidade</a></li>
            </ul>
        </nav>
    </div>
    <button>Se Enovolva</button>
</header>
    <section class="sobre" id="sobre">
        <div class="sobre-nos">
            <div class="slogan">
                
                    Fisio Lazer Mãos Amigas!
                
            </div>
            
        </div>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, hic! Ab quod, accusantium quidem at fuga quas quibusdam tempora doloribus molestiae optio nobis omnis id nemo est corporis voluptas alias?
        </div>
        <button>Junte - se</button>
        <button>Saiba Mais</button>
    </section>
     <section>
        <h1>Vem Fazer Parte Da Nossa Comunidade</h1>
        <div class="chat" id="chat"></div>
        <div class="chat" id="chat"></div>
        <div class="chat" id="chat"></div>
     </section>
     <footer>
        <div class="logo" id="logo"></div>
            <ul>
                <li><a href="">Sobre</a></li>
                <li><a href="">Eventos</a></li>
                <li><a href="">Programas</a></li>
                <li><a href="">Comunidade</a></li>
            </ul>
        <section class="info-contact">
            <div class="contactos">
                <ul>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Whatsapp</a></li>
                    <li><a href="">email</a></li>
                    <li><a href="">Telefone</a></li>
            
                </ul>
            </div>
                </div>
        </section>
        <section>
            <p> All rights reserved. No Caso De Duvidad, contacte nos at newtonjosedomingos@gmail.com ou ligue 950846304</p>
        </section>
     </footer>
</body>
</html>